.input-dan-tajuk {
    margin-top: 20px;
    margin-left: 84px;
    display: flex;
}

.input-dan-tajuk a {
    text-decoration: none;
}

.background-after-login {
    background-color: #59CBA6;
    position: fixed;
    top: 0;
    bottom : 0;
    left: 0;
    right: 0;
    z-index: -9999;
}

.input-dan-tajuk .tambah-program {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E76975;
    width: 220px;
    height: 46px;
    text-decoration: none;
    border:none;
    padding: 0px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}

/* .clear{
    clear: both;
} */

.input-dan-tajuk .tambah-program img{
    width: 24px;
    height: 24px;
    margin-left: 17px;
    
}

.input-dan-tajuk .tambah-program .text-input-program{
    font-weight: 600;
    font-size: 16px;
    margin-right: 45px;    
    color: white;
    text-decoration: none;
}

.spacer{
    flex: 1;
}

.tajuk-page{
    margin-right: 28px;
    margin-top: 23px;
    margin-bottom: 16px;
    text-align: right;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.tajuk-page-2{
    margin-right: 28px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    text-align: right;
    color: black;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
}
