/* .side-bar{
	background-color: white;
	top: 0;
	font-family: 'Open Sans', sans-serif;
	left: 0;
	bottom: 0;
	width: 256px;
	position: fixed;
	z-index: 9999;
    overflow-x: hidden;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
	/* margin-left: -256px; */
/* }

.side-bar-avatar {
    display: flex;
    margin-left: 24px;
    margin-top: 25px;
}

.side-bar-avatar img{
    height: 64px;
    width: 58.48px;
}

.side-bar-avatar .avatar-identity {
    margin-left: 14.52px;

	font-weight: 600;
	font-style: normal;
}

.side-bar-avatar .avatar-identity .user-name{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.side-bar-avatar .avatar-identity .user-position,
.side-bar-avatar .avatar-identity .user-ministry{
	font-size: 16px;
	letter-spacing: 0.02em;
    color: #90A0B7;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}


.side-bar-item span{
	font-size: 24px;
}

.side-bar-menu{
	margin-top:61px;
}

.side-bar-item p{
	font-size: 14px;
	font-weight: 550;
	margin-bottom :16px;
	letter-spacing: 0.01em;

}

.side-bar-menu-on{
	width: 208px;
	margin-left: 16px;
	margin-right: 32px;
} */ 
/* .sidenav-off {
	width: 70px !important;
}

.sidebar-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20px;
	cursor: pointer;
}

.sidebar-toggle p {
	font-size: 0.9rem;
	margin: 0;
	padding: 10px 0;
}
.sidebar-toggle i {
	padding: 10px 0;
}

.sidebar-toggle:hover {
	color: #70bd62;
}

.sidebar-toggle-on {
	width: 256px;
}

.sidebar-toggle-off {
	width: 70px;
}

.ic-toggle {
	font-size: 1.5rem;
}

.avatar {
	background-color: black;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	margin: 25px;
}

.avatar-photo {
	border-radius: 100%;
}

.avatar-min {
	background-color: black;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 0px;
}

.admin-data-nav {
	margin: 25px;
}

.admin-data-nav p {
	font-size: 0.8rem;
}
.admin-data-nav h5 {
	font-weight: bold;
	font-size: 1rem;
}

.nav-item {
	padding: 8px 0;
	font-size: 0.8em;
	margin: 0 0 0 24px;
}

/* .active {
	color: #70bd62 !important;
} */

/* .nav-item-toggle {
	cursor: pointer; */
/* } */

/* .nav-item-toggle-active {
	color: #70bd62 !important;
} */

/* .nav-sub-item {
	margin: 0 34px;
	padding: 8px 0;
}

.nav ul {
	list-style: none;
}

.nav-sub-item-list {
	display: none;
	cursor: default;
}

.nav-sub-item-list-min {
	margin-top: -20px;
}

.logout {
	position: fixed;
	bottom: 10;
}

.toggled {
	display: block !important;
}

.nav {
	width: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	/* -webkit-user-select: none; /* Safari */
	/* -khtml-user-select: none; /* Konqueror HTML */
	/* -moz-user-select: none; /* Old versions of Firefox */
	/* -ms-user-select: none; /* Internet Explorer/Edge */
	/* user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
/* }

.nav-item,
.nav-sub-item,
.nav-item a,
.nav-sub-item a,
.nav-item-min {
	color: black;
	cursor: pointer;
}

.nav-item p:hover,
.nav-sub-item:hover,
.nav-item a:hover,
.nav-sub-item:hover a,
.nav-sub-item a:hover,
.logout:hover,
.nav-item-min:hover {
	color: #70bd62;
	text-decoration: none;
}

@media (max-width: 700px) {
	.sidebar-toggle {
		display: none;
	}
}  */