.top-bar {
    background-image: linear-gradient(to right , #47807F , #005B61);
    height: 101px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    left: 0;     
    z-index: 10;   
}

.top-bar-default {
    background-image: linear-gradient(to right , #47807F , #005B61);
    height: 101px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    left: 0;     
    z-index: 10;
}

.top-bar.scroll{
    background-color: #D33732;
}

.top-bar li>.active .top-bar-menu-container{
    border-bottom: 2px solid white;
}
.top-bar.scroll li>.active .top-bar-menu-container{
    border-bottom: 2px solid white;
}

.top-bar-default li>.active .top-bar-menu-container {
    border-bottom: 2px solid white;
}

.top-bar.scroll .top-bar-menu-container:hover,
.top-bar-default .top-bar-menu-container:hover{
    border-bottom: 2px solid white;
}

.top-bar-menu-container{
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(0,0,0,0);
    
}

.top-bar-menu-container.no-2 {
    position: relative;
    box-sizing: border-box;
}
.top-bar-menu-2 .top-bar-menu-container.no-2:hover {
    background-color: #59CBA6;
    padding: 10px 10px 0 10px;
    border-bottom: 2px solid rgba(0,0,0,0);
    border-radius: 10px 10px 0 0;
    transition: none;
}

.jarak {
    width: 225px;
    height: 101px;
    display: none;
    background-color: #59CBA6;
}

.top-bar-menu-container:hover{
    border-bottom: 2px solid #FC801A;
    transition: all 0.2s ease-in-out;
}

.top-bar-menu-2 > .top-bar-menu-container:hover{
    border-bottom: 2px solid rgba(0,0,0,0);
}

.sub-menu-hover {
    display: none;
    margin-top: 56px;
}

.top-bar-menu-container:hover .jarak {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 28px;
}
.top-bar-menu-container:hover .sub-menu-hover {
    display: inline-block;
    width: 1170px;
    height: 600px;
    border-radius: 10px;
    left: -500px;
    position: absolute;
    background-color: #59CBA6;
}

.top-bar-menu-container:hover .sub-menu-hover ul {
    display: block;
}

.menu-kementrian {
    width: 255px;
    height: 566px;
    margin: 17px 0 25px 5px;
    color: white;
    text-align: center;
    overflow-y: auto;
    font-size: 16px;
    direction: rtl;
}

.menu-kementrian ul li {
    /* background-color: #3F5064; */
    width: 240px;
    border-radius: 10px 0 0 10px;
    margin-bottom: 5px;
    height: 90px;
    line-height: 20px;
    display: inline-block;
}

.logo-in-megamenu{
    margin-top: 7px;
    margin-left: 5px;
    line-height: 75px;
    height: 75px;
    /* width: auto;
    float: left;
    clear: both; */
}

.nama-instansi-megamenu{
    display: inline-block;
    position: relative;
    top:-30px;
    width: 150px;
    height: 75px;
    padding-top: 30px;
}


.nama-instansi-megamenu a{
    margin-top: 10px;
    line-height: 20px;
}

.menu-kementrian ul li:hover {
    background-color: #FDE47F;
    color: black;
}

.sub-menu-kementrian,
.sub-menu-2-kementrian {
    display: none;
    color: black;
    position: absolute;
    top: 17px;
    background-color: #FDE47F;
    height: 566px;
    overflow: auto;

}



.menu-kementrian ul li:hover .sub-menu-kementrian {
    display: inline-block;
    width:900px;
    left: 252px;
    border-radius: 10px;
}

.menu-kementrian ul li:hover .sub-menu-kementrian ul {
    display: flex;
    flex-flow: row wrap;
    padding-top: 16px;
    padding-left: 32px;
}

.sub-menu-kementrian ul li {
    height: 64px;
    width: 370px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

.sub-menu-kementrian div {
    display: inline-block;
    text-align: left;
}

.topbar-program{
    width: 450px;
    height: 566px;
    left:0px;
    position: absolute;
    overflow-y: auto;
    direction: ltr;
    border-right: 2px solid rgba(0,0,0,0.2);
}

.topbar-program li:hover {
    background-color: none;
}

/* .topbar-kabar-ul,
.topbar-program-ul{
    overflow-y: auto;
    direction: ltr;
} */

.kabar-acordion {
    width: 100%;
    height: 45px;
    background-color: white;
    border: 1px solid black;
    line-height: 45px;
    border-radius: 10px;
    padding-left: 12px;
    cursor: pointer;
    position: relative;
}

.button-topbar {
    width: 160px;
    height: 32px;
    color: white;
    background-color: #424FC8;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    border: none;
    border-radius: 20px;
    margin-bottom: 42px;
}

.topbar-kabar{
    width: 450px;
    height: 566px;  
    position: absolute;
    left:450px;
    overflow-y: auto;
    direction: ltr;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
    background: #272727; 
    border-radius: 10px;
}

.top-bar-navigation {
    display: flex;
    align-items: center;
    height: 100%;

}

.top-bar-logo-title h1{
    text-align: center;
    font-size: 10px;
    color: white;
    line-height: 11px;
    font-weight: 600;
}

.top-bar-logo {
    margin-left: 10px;
}



.top-bar-navigation .logo-kemenko {
    padding-left: 11px;
    height: 80px;
    margin-left: 14px;
}

.logo-simonev{
    height: 58px;
}

.top-bar-logo-simonev {
    margin-right: 61px;
}

.spacer {
    flex: 1;
}

.top-bar-menu ul li {
    display: inline-block;
}

.top-bar-menu ul li a{
    text-decoration: none;
}

.top-bar-menu-3 {
    margin-right: 26px;
}

.top-bar-menu-2 {
    margin-right: 55px;
}

.top-bar-menu-1 {
    margin-right: 60px;
}


