.gnrm-container{
    width: 1238px;
    height: fit-content;
    margin-left: 100px;
    margin-right: 20px;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 19px;
    
}

.gnrm-container-off{
    width: 1050px;
    height: fit-content;
    margin-left: 100px;
    margin-right: 20px;
    background-color: white;
    margin-top: 16px;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 19px;
    
}

.gnrm-title{
    margin-bottom: 25px;
}

.gnrm-media--image{
    width: 150px;
    height: 150px;
}

.form-gnrm div{
    margin-bottom: 16px;
}

i.material-icons {
    font-size: 36px;
    color: white;
}

.form-gnrm input{
    height: 42px;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding-left: 10px;
}

.form-gnrm textarea{
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
    line-height: 21px;
}

.form-gnrm .gnrm-tahun{
    margin-left: 162px;
    height: 42px;
    width: 183px;
}

.form-gnrm select {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding: 5px;
    height: 42px;
}
.form-gnrm .gnrm-id-program{
    margin-left: 123px;
    height: 42px;
    width: 269px; 
}

.form-gnrm .gnrm-instansi{
    margin-left: 150px;
    height: 42px;
    width: 366px; 
}

.gnrm-navigation-button{
    display: flex;
    margin-top: 34px;
    margin-bottom: 23px;
}
.previous,
.forward {
    width: 50px;
    height: 46px;
    padding: 0px;
    right: -1066px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.forward {
    right: -1068px;
    border-radius: 0 5px 5px 0;
}

.forward.tes{
    right: -1120px;
}

.forward.tes1{
    right: -932px;
}
input[type="file"] {
    opacity: 0;
    position: absolute;
    left: -1000px;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder,
input::placeholder{
    font-size: 16px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

.gnrm-pendanaan::placeholder{
    font-size: 12.7px;
    font-weight: normal;
}

.gnrm-pendanaan.off::placeholder{
    font-size: 10.3px;
    font-weight: normal;
}

.gnrm-anggaran.off::placeholder{
    font-size: 15px;
}
.label_lampiran{
    margin-left: 108px;
    cursor: pointer;
    width: 236px;
    height: 42px;
    background-color: #FDE47F;
    text-align: center;
    border-radius: 5px;
    line-height: 42px;
}

/* The container */
.label-radio {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    padding-top: 3px;
    margin-top: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .label-radio .input-radio {
    position: absolute;
    opacity: 0;
  }
  
  /* Create a custom radio button */
  .checked-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 3px solid #C04B3E;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  /* .label-radio:hover .input-radio ~ .checked-radio {
    background-color: #ccc;
  } */
  
  /* When the radio button is checked, add a blue background */
  .label-radio .input-radio:checked ~ .checked-radio {
    background-color: #C04B3E;
    border: none;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checked-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .label-radio .input-radio:checked ~ .checked-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .label-radio .checked-radio:after {
       top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #C04B3E;
      box-sizing: border-box;
      border: 3px solid white;
  }

/*
#sudah ,
#belum {

} */

.preview-footer {
    display: flex;
}

.forward:active,
.previous:active,
.previous-last-1:active {
    background-color: #C04B3E;
}

.preview-gnrm,
.simpan-gnrm {
    width: 225px;
    height: 46px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    margin-left: 16px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.021em;
}

.simpan-gnrm {
    background-color: white;
    color: #D4362E;
    box-sizing: border-box;
    font-weight: 900;
    border: 2px solid #D4362E;
}

.previous-last-1{
    width: 50px;
    height: 46px;
    padding: 0px;
    margin-left: 637px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.remove-form {
    width: 50px;
    height: auto;
    display: block;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    color: #2e2d2d;
}

.remove-form:hover {
    color: #FF3D37;
}

.remove-form i  {
    padding: 5px;
    font-weight: bold;
}

.title-preview-page{
    text-align: right;
    margin-right: 28px;
    margin-top: 23px;
    letter-spacing: 0.1em;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-size: 24px;
    font-weight: 900;
}

.preview-picture{
    margin-left: 100px;
    margin-top: 16px;
    margin-bottom: 46px;
    width: 1238px;
    background-color: white;
    height: fit-content;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.button-action{
    position: absolute;
    bottom: 87px;
}

.button-edit-kembali,
.button-unggah{
    width: 225px;
    height: 46px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    border:none;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.021em;
}

.button-edit-kembali{
    background-color: #848988;
    right: 313px;
    bottom: 41px;
    position: absolute;
}
.button-unggah{
    background-color: #FF3D37;
    right: 73px;
    bottom: 41px;
    position: absolute;
}