.container-for-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: 32px 38px 0 88px; */


}

.card-container {
    /* margin-right:  */
    width: 420px;
    border: 2px solid white;
    border-radius: 10px;
    height: 574px;
    color: white;
}

.date-and-button{
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    /* border: 1px solid black; */
}

.bottom-card ul li{
    display: inline-block;
}

.card-date{
    line-height: 30px;
}

.spacer{
    flex:1;
}

.detail-button{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 30px;
    background-color: #424FC8;
    color: white;
    width: 110px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
    border:none;
    margin-top: 0px;
    margin-right: 9px;
    /* margin */
}

.card-background {
    width: 420px;
    box-sizing: border-box;
}

.card-title-bottom-inf {
    font-weight: normal;
    margin: 0 0 0 10px;
}

.card-background img{
    width: 396px;
    box-sizing: border-box;
    height: 404px;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
}

.card-title-bottom{
    font-size: 16px;
    font-weight: bold;
    margin: 11px 0 0 10px;
}

.card-date {
    margin: 0 0 0 10px
}