.input-dan-tajuk {
    margin-left: 84px;
    display: flex;
}

.input-dan-tajuk button {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #8E4134;
    color: white;
    width: 225px;
    height: 46px;
    border:none;
    padding: 0px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

/* .clear{
    clear: both;
} */

.input-dan-tajuk .tambah-notifikasi img{
    width: 24px;
    height: 24px;
    margin-left: 17px;
    
}

.input-dan-tajuk button p{
    font-weight: bold;
    font-size: 16px;
    margin-right: 45px;    
}

.spacer{
    flex: 1;
}

.tajuk-notifikasi{
    margin-right: 28px;
    margin-top: 7px;
}

.tajuk-notifikasi p{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.notifikasi-card {
    margin-left: 84px;
    margin-right: 20px;
    margin-top: 19px;
    max-width: 100%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    background-color: white;
    margin-bottom: 40px;
}

.notifikasi-card-header{
    height: 41px;
    border-radius: 5px 5px 0 0;
    padding-left: 11px;
    line-height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.notifikasi-card-body{
    width: 100%;
    height: 178px;
    display: flex;
    border-bottom: 1px solid grey;
}

.notifikasi-photo{
    margin-left: 11px;
    margin-top: 49px;
    margin-right: 20px;
}

.notifikasi-detail{
    margin-left: 11px;
    width: 100%;
    font-size: 12px;
    margin-right: 17px;
    letter-spacing: 0.01em;
    line-height: 15px;
    /* border: 1px solid black; */
}

.notifikasi-detail p{
    font-weight: bold;
    margin-top: 11px;
}
.notifikasi-detail .isi-notifikasi{
    max-width: 100%;
    height: 86px;
    margin-top: 10px;   
    margin-right: 17px;
    letter-spacing: 0.01em;
    line-height: 15px;
    /* border: 1px solid black; */
}

.avatar-notif {
    position: relative;
    height: 80px;
    width: auto;
}

.logo-notif {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 40px;
    width: 40px;
}

.notifikasi-detail .pengirim-notifikasi{
    text-align: right;
    margin-top: 13px;
}

.notifikasi-detail .pengirim-notifikasi span{
    font-weight: bold;
}

.notifikasi-detail .tanggal-notifikasi{
    margin-top: 6px;
}



