
.header-ubah h1{
    font-size: 24px;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 16px;
    text-align: center;
    color: black;
}

.body-ubah {
    font-size: 24px;
    text-align: center;
    line-height: 29px;
}

.body-ubah form {
    margin-top: 16px;
    position: relative;
}
.body-ubah input {
    padding: 15px;
    background-color: white;
    margin: 0 0 32px 25px;
    width: 415px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid #343A40;
}
.button-password {
    position: relative;
}

.button-ubah {
    height: 50px;
    width: 294px;
    margin-top: 22px;
    background-color: #D4362E;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.pesan-ubah {
    position: absolute;
    font-weight: bold;
    top: 195px;
}