.input-dan-tajuk {
    margin-left: 84px;
    display: flex;
}

.input-dan-tajuk button {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #8E4134;
    color: white;
    width: 225px;
    height: 46px;
    border:none;
    padding: 0px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    box-shadow: 6px 8px 7px 6px rgba(0,0,0,0.1);
}

/* .clear{
    clear: both;
} */

.input-dan-tajuk .tambah-laporan img{
    width: 24px;
    height: 24px;
    margin-left: 17px;
    
}

.input-dan-tajuk button p{
    font-weight: bold;
    font-size: 16px;
    margin-right: 45px;    
}

.spacer{
    flex: 1;
}

.tajuk-monev{
    margin-right: 28px;
    margin-top: 7px;
}

.tajuk-monev p{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1em;
}