

.home-section-2{
    width: 100%;
    height: 951px;
    position: relative;
    background-color: #59CBA6; 
    padding-top: 29.77px;  
    color: black;
}

.home-statistik {
    border-radius: 10px;
    margin-left: 192px;
    margin-right: 153px;
    margin-top: 22px;
    background-color: white;
    padding-left: 50px;
    padding-right: 10px;
}
.home-section-4 {
    background-image: linear-gradient(to right bottom , #E76975 , #FDB99B);
    height: 1024px;
    position: relative;
}

#curve {
    position: absolute;
    bottom: 0;
}

.home-pic {
    margin:0;
    height: 770px;
}

.home-desc{
    width: 100%;
    position: relative;
    color: white;
    
}


.container-fluid.costum-container {
    margin: 0px 0px 0px 36px;
    margin-left: 36px;
    padding-top: 149px;
}
.home-kementrian {
    font-size: 36px;
    font-weight: bold;
}

.col-4{
    /* border: 1px solid black; */
    padding: 0px;
}

.col-8{
    /* border: 1px solid black; */
    padding: 0px;
}

.home-section-4-title {
    font-size: 48px;
    font-weight: bold;
    width: 298px;
    color: white;
    line-height: 59px;
    margin-bottom: 32px;
}

.filter-a{
    margin-bottom: 16px;
    padding-left: 10px;
    width: 370px;
    height: 56px;
    border-radius: 10px;
    font-weight: bold;
    color: #848988;
    border: 1px solid rgba(0,0,0,0.3);
}

.home-news-active {
    position: absolute;
    top: -563px;
    height: 420px;
    left: 36px;
}

.home-title {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    width: 900px;
    line-height: 60px;
}

.home-date {
    font-size: 24px;
    margin-top: 16px;
}

.home-button-lanjut{
    width: 255px;
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background-color: #424FC8;
    color: white;
    border: none;
    margin-top: 67px;
    padding: 8px 14px;
}


.button-home-prev {
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    left: -30px;
    top: -320px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
}

.button-home-next {
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    right: -30px;
    top: -320px; 
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
}
  
.home-other {
    width: 95%;
    margin: 60px auto 0;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    left: 36px;
    bottom: 4px;
    padding-bottom: 12px;

}

.home-other-news {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    margin: auto;
    width: 205px;
    height: 100px;
    color: black;
    border-top: 4px solid white;
    padding-top: 12px;
    padding-left: 4px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.75);
    border-radius: 0 0 10px 10px;
}

.home-other a{
    text-decoration: none;
    color: black;
}

.home-news-title {
    width: 144px;
}

.home-news-logo {
    float: right; 
    margin-right: 7px;
}

.logo-bos {
    height: 50px;
    width: auto;
}

.home-section-3{
    position: relative;
}

.home-section-3-title{
    margin: 32px auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.home-section-2-title{
    font-weight: bold;
    font-size: 48px;
    color: black;
    margin-left: 46px;
}

.button-lihat-gallery{
    margin: 0 0px 80px 960px;
    font-weight: bold;
    font-size: 16px;
    width: 273px;
    height: 75px;
    color:white;
    border-radius: 10px;
    border: none;
    background-color: #424FC8;
}