.table-admin {
    margin-left: 84px;
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.table-head-admin th{
    padding-left: 15px;
    padding-top: 22px;
    padding-bottom: 10px;
    font-weight: bold;
    border: 1px solid lightgrey;
}

.table-body-admin td{
    padding-left: 15px;
    line-height: 40px;
    border: 1px solid lightgrey;
}

.table-body-admin td:last-child{
    padding-left: 0px;
}

.table-body-admin td img{
    margin: 0px;
    padding: 0px;
}

button.button-delete{
    position: relative;
    padding: 0px;
    bottom: -5px;
    left: 10px;
    height: 15px;
    width: 12px;
    border: none;
    line-height: 0px;

}

.button-edit{
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 0px;
    width: 64px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #848988;
    font-weight: bold;
    font-size: 10px;
    color: white;
    border:none;
    letter-spacing: 0.02em;
}
