.gallery-container {
    width: 1100px;
    height: fit-content;
    margin: 83px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.gallery-item {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: gray;
    position: relative;
}

.gallery-item .test_gambar_gallery{
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 2;
}

.gallery-item:nth-child(9n+1) .test_gallery,
.gallery-item:nth-child(9n+5) .test_gallery,
.gallery-item:nth-child(9n+9) .test_gallery{
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    bottom: -15px;
	right:-15px;
	box-sizing: border-box;
    background-color:none;
}

.gallery-item:nth-child(9n+1) .test_gallery{
    border: 5px solid red;
}

.gallery-item:nth-child(9n+5) .test_gallery{
    border: 5px solid lightskyblue;
}

.gallery-item:nth-child(9n+9) .test_gallery{
    border: 5px solid yellow;
}

.test_decor {
    display: none;
}

.gallery-item:nth-child(9n+1) .test_decor,
.gallery-item:nth-child(9n+4) .test_decor,
.gallery-item:nth-child(9n+7) .test_decor {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 200px;
    left: -120px;
}


/* .gallery-item:nth-child(1):before,
.gallery-item:nth-child(3):before{
    content:"";
    position: absolute;
    left:25px;
    right:-25px;
    top:25px;
    bottom:-25px;
    border:5px solid black;
    border-right-width:5px;
    border-left-width:5px;
} */
