.pagination {
    margin-top: 10px;
    margin-left: 84px;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.spacer{
    flex:1;
}

.number-row-per-page {
    margin-left: 8px;
    width: 39px;
    height: 16px;
    border: none;
}


.pagination-total-page div{
    display: inline-block;
}

.pagination-total-page .item2{
    margin-left: 40px;
    width: 68px;
}