.monev-3-container{
    width: 1238px;
    height: 500px;
    margin-left: 100px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 30px;
}
.monev-3-title{
    margin-bottom: 25px;
}
.form-monev-3 p{
    margin-bottom: 16px;
}

.form-monev-3 input{
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding-left: 5px;
}

.form-monev-3 .monev-waktu{
    height: 42px;
    width: 955px; 
    margin-left: 160px;

}

.form-monev-3 .monev-tempat{
    margin-left: 151px;
    height: 42px;
    width: 955px; 
}

.form-monev-3 .monev-gambaran{
    margin-left: 71px;
    width: 955px; 
    height: 130px;
}

.word-counter{
    margin-top: 1px;
    text-align: right;
    margin-right: 44px;
}

.monev-navigation-button-3{
    display: flex;
    margin-top: 83px;
}
