.side-bar-off{
    width: 68px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-image: linear-gradient(to right bottom , #E76975 , #FDB99B );
    color:white;
    box-shadow: 2px 0px 3px rgba(0,0,0,0.2);
    overflow: visible;
}

.side-bar{
    background-image: linear-gradient(to right bottom , #E76975 , #FDB99B );
    transition: all 0.3s ease-in-out;
	top: 0;
	font-family: 'Open Sans', sans-serif;
	left: 0;
	bottom: 0;
	width: 256px;
	position: fixed;
	z-index: 10;
    overflow-x: hidden;
    color:white;
    box-shadow: 2px 0px 3px rgba(0,0,0,0.2);
    /* margin-left: -256px; */
    overflow: hidden;
}

.side-bar-avatar {
    transition: all 0.3s ease-in-out;
    display: flex;
    margin-left: 24px;
    margin-top: 25px;
}

.avatar-container {
    transition: all 0.3s ease-in-out;
    width: 58.48px;
    height: 58.48px;
    position: relative;
}
.side-bar-avatar .user-avatar{
    transition: all 0.3s ease-in-out;
    height: 58.48px;
    width: 58.48px;
    border-radius: 50%;
    position: absolute;
}

.side-bar-avatar .logo-instansi-user{
    transition: all 0.3s ease-in-out;
    height: 26.48px;
    position: absolute;
    width: 26.48px;
    z-index: 100;
    top:-5px;
    right: -5px;
    border-radius: 50%;
}

.side-bar-avatar .avatar-identity {
    transition: all 0.3s ease-in-out;
    margin-left: 14.52px;
    margin-right: 10px;
    width: 150px;
    overflow: hidden;
	font-weight: 600;
    font-style: normal;;
}

.side-bar-avatar .avatar-identity .user-name{
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.side-bar-avatar .avatar-identity .user-position,
.side-bar-avatar .avatar-identity .user-ministry{
    transition: all 0.3s ease-in-out;
	font-size: 16px;
	letter-spacing: 0.02em;
    color: #FDE47F;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}

.space1r {
    height: 100px;
    width: 2px;
}


.avatar-off {
    transition: all 0.3s ease-in-out;
    width: 53px;
    height: 53px;
    margin: 9px 5px 0 5px;
    position: relative;
}

.user-avatar-off{
    transition: all 0.3s ease-in-out;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    position: absolute;
}

.logo-instansi-user-off{
    transition: all 0.3s ease-in-out;
    height: 26.48px;
    position: absolute;
    width: 26.48px;
    z-index: 100;
    top:-5px;
    right: -5px;
    border-radius: 50%;
}

.side-bar-menu{
	margin-top:61px;
}

.side-bar-menu .label-menu {
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
}

.side-bar-menu-on ul li i,
.side-bar-menu-off ul li i{
    text-align: center;
}

.side-bar-menu ul a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.side-bar-menu-on ul {
    padding-bottom: 25px;
    width: 256px;
}

.side-bar-menu-on ul a {
    margin: 0px;
    padding: 0px;
}

.side-bar-menu-on ul .active{
    margin: 0px;
    padding: 0px;
}

.side-bar-menu-on ul li {
    line-height: 40px;
}

.side-bar-menu-on ul .active li  {
    color: black;
    background-color:#59CBA6;
}

.side-bar-menu-on ul li a{
    margin-left: 10px;
}

.side-bar-menu-off {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar-menu-off ul{
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68px;
    padding-bottom: 25px;
}

.side-bar-menu-off ul li {
    line-height: 40px;
    width: 68px;
    text-align: center;
}

.side-bar-menu-off ul .active li  {
    color: black;
    background-color: #59CBA6;
}

.side-bar-item{
    font-size: 24px;
    color: white;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    height: fit-content;
}

.side-bar-item i{
    color: white;
}

div.col-md-10{
    padding-left: 10px;
}

.side-bar-item .row {
    margin-left: 5px;
}

.side-bar-menu-off .row {
    width: 53px;
}

.home_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/home_white.svg');
}

.side-bar-menu-on ul .active .home_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/home_black.svg');
}

.side-bar-menu-off ul .active .home_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/home_black.svg');
}

.gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/gnrm_white.svg');
}

.side-bar-menu-on ul .active .gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/gnrm_black.svg');
}

.side-bar-menu-off ul .active .gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/gnrm_black.svg');
}

.kabar_gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kabar_gnrm_white.svg');
}

.side-bar-menu-on ul .active .kabar_gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kabar_gnrm_black.svg');
}

.side-bar-menu-off ul .active .kabar_gnrm_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kabar_gnrm_black.svg');
}

.monev_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/monev_white.svg');
}

.side-bar-menu-on ul .active .monev_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/monev_black.svg');
}

.side-bar-menu-off ul .active .monev_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/monev_black.svg');
}

.kelola_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_instansi_white.svg');
}

.side-bar-menu-on ul .active .kelola_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_instansi_black.svg');
}

.side-bar-menu-off ul .active .kelola_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_instansi_black.svg');
}

.kelola_admin_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_admin_white.svg');
}

.side-bar-menu-on ul .active .kelola_admin_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_admin_black.svg');
}

.side-bar-menu-off ul .active .kelola_admin_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/kelola_admin_black.svg');
}

.reminder_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/reminder_white.svg');
}

.profil_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_instansi_white.svg');
}

.side-bar-menu-on ul .active .profil_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_instansi_black.svg');
}

.side-bar-menu-off ul .active .profil_instansi_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_instansi_black.svg');
}

.side-bar-menu-on ul .active .reminder_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/reminder_black.svg');
}

.side-bar-menu-off ul .active .reminder_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/reminder_black.svg');
}

.profil_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_white.svg');
}

.side-bar-menu-on ul .active .profil_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_black.svg');
}

.side-bar-menu-off ul .active .profil_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/profil_black.svg');
}

.toggle-button{
    border-top: 2px solid white;
    margin-top: 16px;
    bottom: 145px;
}

.toggle-button-on{
    border-top: 2px solid white;
    margin-top: 16px;
    padding-left: 19px;
    bottom: 145px;
}

.logout-button{
    position: fixed;
    bottom: 10px;
}

.toggle_icon_off{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/toggle_off.svg');
}

.toggle_icon_on{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/toggle_on.svg');
}

.logout_icon{
    width: 24px;
    height: 40px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url('../../assets/logo/logout.svg');
}

.side-bar-menu-off .side-bar-item .tooltiptext {
    visibility: hidden;
    display: inline;
    background-color: #59CBA6;
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 30%;
    border-radius: 2px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: 120%;
  }
  
  .side-bar-menu-off .side-bar-item:hover .tooltiptext {
    visibility: visible;
    color: white;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to right bottom , #E76975 , #FDB99B );
  }

  .side-bar-menu-off .active .side-bar-item:hover .tooltiptext {
    visibility: visible;
    background-color: #59CBA6;
    color: black;
    background-image: none;
  }
  
.popup-check-instansi {
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    padding: 30px;
    position: fixed;
    top: 32%;
    left: 35%;
    z-index: 9999;
    box-shadow: rgba(0,0,0,0.2);
    text-align: center;
}

.popup-check-instansi-title {
    font-weight: 700;
}


.popup-check {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.2);
}

.button-to-instansi {
    color: white;
    background-color: #D4362E;
    font-family: 'Monserrat' , sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 294px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    border: none;
    border-radius: 50px;
}

/* .logout-button{
    position: fixed;
    bottom: 10px;
    left: 22px;
} */

