.side-bar-off{
    width: 68px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #E76975;
    color:white;
    box-shadow: 2px 0px 3px rgba(0,0,0,0.2);
}

.side-bar{
	background-color: #E76975;
	top: 0;
	font-family: 'Open Sans', sans-serif;
	left: 0;
	bottom: 0;
	width: 256px;
	position: fixed;
	z-index: 10;
    overflow-x: hidden;
    color:white;
    box-shadow: 2px 0px 3px rgba(0,0,0,0.2);
	/* margin-left: -256px; */
}

.side-bar-avatar {
    display: flex;
    margin-left: 24px;
    margin-top: 25px;
}

.avatar-container {
    width: 58.48px;
    height: 58.48px;
    position: relative;
}
.side-bar-avatar .user-avatar{
    height: 58.48px;
    width: 58.48px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
}

.side-bar-avatar .logo-instansi-user{
    height: 26.48px;
    position: absolute;
    width: 26.48px;
    z-index: 100;
    top:-5px;
    right: -5px;
    border-radius: 50%;
    border: 1px solid black
}

.side-bar-avatar .avatar-identity {
    margin-left: 14.52px;
    margin-right: 26px;
    overflow: hidden;
	font-weight: 600;
    font-style: normal;;
}

.side-bar-avatar .avatar-identity .user-name{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.side-bar-avatar .avatar-identity .user-position,
.side-bar-avatar .avatar-identity .user-ministry{
	font-size: 16px;
	letter-spacing: 0.02em;
    color: #FDE47F;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}

.space1r {
    height: 100px;
    width: 2px;
}


.avatar-off {
    width: 53px;
    height: 53px;
    margin: 9px 5px 0 5px;
    position: relative;
}

.user-avatar-off{
    height: 53px;
    width: 53px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
}

.logo-instansi-user-off{
    height: 26.48px;
    position: absolute;
    width: 26.48px;
    z-index: 100;
    top:-5px;
    right: -5px;
    border-radius: 50%;
    border: 1px solid black
}

.side-bar-menu-off {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar-menu-on ul li i,
.side-bar-menu-off ul li i{
    text-align: center;
}

.side-bar-menu-off ul li i {
    text-align: center;
}

.side-bar-menu-on ul {
    padding-bottom: 25px;
    width: 256px;
    border-bottom: 2px solid white;
}

.side-bar-menu-off ul {
    padding-bottom: 25px;
    width: 68px;
    border-bottom: 2px solid white;
}


.side-bar-menu-on ul li {
    line-height: 40px;
}

.side-bar-menu-off ul li {
    line-height: 40px;
    width: 68px;
    text-align: center;
}

.side-bar-menu-on ul li a{
    margin-left: 10px;
}

.side-bar-menu ul a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.side-bar-menu .label-menu {
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
}

.side-bar-item i{
    color: white;
}

.side-bar-item {
    height: fit-content;
}

.side-bar-menu-on ul .active{
    margin: 0px;
    padding: 0px;
}

.side-bar-menu-on ul a {
    margin: 0px;
    padding: 0px;
}

div.col-md-10{
    padding-left: 10px;
}

.side-bar-item .row {
    margin-left: 5px;
}

.side-bar-menu-on ul .active i,
.side-bar-menu-on ul .active li  {
    color: black;
    background-color:#FDE47F;;
}

.side-bar-menu-off ul .active i,
.side-bar-menu-off ul .active li  {
    color: black;
    background-color: #FDE47F;;
}

.side-bar-menu{
	margin-top:61px;
}

.side-bar-menu-off ul{
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68px;
}

.side-bar-item{
    font-size: 24px;
    color: white;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.toggle-button{
    margin-top: 55px;
    position: fixed;
    bottom: 90px;
}

.logout-button{
    position: fixed;
    bottom: 10px;
}

/* .logout-button{
    position: fixed;
    bottom: 10px;
    left: 22px;
} */

