/* #region stylelama */
.footer {
  /* height: 536px; */
  position: relative;
  /* bottom:0; */
  width: 100%;
  background-image: linear-gradient(to bottom, #59cba6, #fde47f);
  color: black;
  box-sizing: border-box;
  padding: 20px 17px 2px 20px;
  overflow: hidden;
}

.footer-left {
  margin: 29px 0 159px 55px;
}

.footer-left-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-left-menu ul li {
  font-size: 24px;
  margin-bottom: 24px;
}

.footer-left-social-logo ul li {
  margin-bottom: 5px;
}

.footer-left-menu ul li a {
  text-decoration: none;
  color: black;
}

.footer-left-menu ul li a:hover {
  color: #c04b3e;
}

.footer-gnrm {
  cursor: pointer;
}

.footer-gnrm:hover {
  color: #c04b3e;
}

.footer-left-social {
  z-index: 999;
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.center-line {
  margin-top: 55px;
  height: '290px';
}

.footer-right-logo {
  width: 95%;
  margin-top: 55px;
  display: flex;
  height: 100%;
  align-items: center;
}

.logo-footer-gnrm {
  max-height: 20%;
}

.footer-left-social-logo {
  z-index: 999;
}

.curve_footer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.footer-left-social-logo ul li {
  display: block;
}

/* .social-media-container {
    line-height: 48px;
    height: 48px;
    text-align: center;
    width: 48px;
    border-radius: 50%;
    color: #ACACAC;
    background-color: #c04b3e;
} */

/* .social-media-container i{
    text-align: center;
} */

.social-media-container i:hover {
  color: black;
}

.footer-right-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.footer-right-menu {
  margin-top: 40px;
}

.footer-right-menu img {
  height: 24px;
  width: 24px;
  float: left;
  margin-bottom: 8px;
}
.footer-right-menu ul li {
  font-size: 12px;
  padding-top: 5px;
  margin-left: 32px;
}

.clear {
  clear: both;
}

.footer-head {
  color: black;
  height: 37px;
  font-size: 24px;
}

tbody .footer-head {
  height: 45px;
}

.footer-head-title {
  font-weight: 700;
}

.footer-head-title-sosial {
  font-weight: 700;
  overflow: visible;
}

.footer.pt-5 .col-6 {
  height: 360px;
}

.footer.pt-5 > .row {
  margin-top: 10%;
}

.footer-left-social-logo .col-sm-11 {
  padding-left: 0;
}

.footer-left-social-logo .col-sm-11 ul li h1 {
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
}

@media only screen and (max-width: 1266px) {
  .footer-left-menu ul li {
    font-size: 3vh;
    margin-bottom: 2vh;
  }
  .footer-left-title {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 3vh;
  }

  .footer-left-social {
    font-size: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .footer-left-social-logo .col-sm-11 {
    padding-right: 0;
    width: 20px;
  }

  .footer-left-social-logo .col-sm-11 {
    padding-right: 0;
    width: 20px;
  }

  .footer.pt-5 .col-6 {
    height: 100%;
  }

  .footer.pt-5 > .row {
    height: 40vh;
    margin-top: 10vh;
  }
  .footer-left-social-logo .col-sm-1 img {
    width: 3vh;
    height: 3vh;
  }

  .footer-left-social-logo .col-sm-11 ul li h1 {
    font-size: 2vh;
    line-height: 3.5vh;
    margin-bottom: 0;
    padding-left: 1.5vh;
  }

  .footer-left {
    margin: 5vh 0 10vh 10%;
  }

  .footer-right-logo {
    width: 95%;
    margin-top: 8%;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .footer-right-menu {
    margin-top: 5%;
  }

  .footer-right-menu img {
    height: 2vh;
    width: 2vh;
    float: left;
    margin-bottom: 1vh;
  }
  .footer-right-menu ul li {
    font-size: 1.5vh;
    padding-top: 1vh;
    margin-left: 4vh;
  }

  .footer-left-social-logo ul li {
    margin-bottom: 1vh;
  }

  /* .footer-left-social-logo .col-sm-11 {
        width: 1vh;
    }

    .footer-left-social-logo .col-sm-11 {
        width: 5vh;
    } */
  .center-line {
    margin-top: 8vh;
    height: 35vh;
  }

  .footer {
    /* height: 70vh; */
    position: relative;
    /* bottom:0; */
    width: 100%;
    background-image: linear-gradient(to bottom, #59cba6, #fde47f);
    color: black;
    box-sizing: border-box;
    padding: 20px 17px 2px 20px;
    overflow: hidden;
  }
}

/* #endregion style lama */

.footer {
  display: flex;
  padding: 40px 70px;
  border-top: 2px solid #fde47f;
}

.footer a {
  color: black;
}

.footer a:hover {
  text-decoration: none;
  color: black;
}

.footer .left {
  flex-basis: 50%;
  border-right: 3px solid black;
}

.footer .right {
  flex-basis: 50%;
}

.footer .title {
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.footer .left-top {
  margin-bottom: 50px;
}

.footer .left-top .menu {
  display: flex;
  gap: 20px;
}

.footer .left-top .menu div,
.footer .left-top .menu a {
  font-size: 1.4em;
  cursor: pointer;
}

.footer .left-bottom .social-media a {
  display: flex;
  align-items: center;
  color: black;
  gap: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.footer .left-bottom .social-media a:hover {
  text-decoration: none;
  color: black;
}

.footer .right {
  padding: 20px;
}

.footer .right .logo {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.footer .right .logo img {
  width: 50%;
}

.footer .right .sekretariat .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
  font-size: 0.9em;
}
