.title-form-monev{
    margin-left: 580px;
    margin-top: 23px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.monev-container{
    width: 1238px;
    height: fit-content;
    margin-left: 100px;
    margin-bottom: 32px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 19px;
    
}

.monev-container-off{
    width: 1050px;
    height: fit-content;
    margin-left: 100px;
    margin-bottom: 32px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 19px;
    
}

.form-monev .gnrm-tahun{
    margin-left: 162px;
    height: 42px;
    width: 183px;
}


.form-monev select {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding: 5px;
    height: 42px;
}

.monev-title{
    margin-bottom: 25px;
}

.form-monev div{
    margin-bottom: 16px;
}

.form-monev input{
    height: 42px;
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding-left: 10px;
}

.form-monev textarea{
    border: 1px solid #ACACAC;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    text-align: justify;
    line-height: 21px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

.monev-tempat::placeholder{
    font-size: 13.5px;
    font-weight: normal;
}

.monev-container-off .monev-tempat::placeholder{
    font-size: 11.2px;
    font-weight: normal;
}

.form-monev .monev-tahun{
    margin-left: 162px;
    width: 183px;
}

.form-monev .monev-id-program{
    margin-left: 123px;
    width: 269px; 
}

.form-monev .monev-instansi{
    margin-left: 150px;
    width: 366px; 
}

.monev-navigation-button{
    display: flex;
    margin-top: 34px;
    margin-bottom: 23px;
}
.previous,
.forward {
    width: 50px;
    height: 46px;
    padding: 0px;
    right: -1066px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.forward {
    right: -1068px;
    border-radius: 0 5px 5px 0;
}

.forward:active,
.previous:active {
    background-color: #C04B3E;
}

.preview-monev,
.simpan-monev {
    width: 225px;
    height: 46px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    margin-left: 16px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.021em;
}

.simpan-monev {
    background-color: white;
    color: #D4362E;
    box-sizing: border-box;
    font-weight: 900;
    border: 2px solid #D4362E;
}

.previous-last-1{
    width: 50px;
    height: 46px;
    padding: 0px;
    margin-left: 637px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.previous-last-11{
    width: 50px;
    height: 46px;
    padding: 0px;
    margin-left: 449px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.previous1,
.forward1 {
    width: 50px;
    height: 46px;
    padding: 0px;
    right: -878px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    background-color: #D4362E;
    color: white;
    border:none;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}

.forward1 {
    right: -880px;
    border-radius: 0 5px 5px 0;
}

.preview-picture{
    margin-left: 100px;
    margin-top: 16px;
}

.button-action{
    position: relative;
    bottom: 87px;
}

.button-edit-kembali,
.button-unggah{
    width: 225px;
    height: 46px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    border:none;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.021em;
}

.button-edit-kembali{
    background-color: #848988;
    margin-left: 807px;
}
.button-unggah{
    background-color: #FF3D37;
    margin-left: 8px;
}